body,html {
    font-size: 14px;
}


.item-circle {
    background: rgb(241, 236, 236);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.header-sticky {
    background: rgb(255, 186, 0);
    // position: sticky;
    .header-category {
        height: 50px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 0 200px;
        .header-category-logo {
            position: relative;
            img {
                height: 110px;
                position: absolute;
                top: -25px;
                
            }
        }
        .header-category-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 66%;
            a  {
                color: rgb(37, 33, 33);
                text-decoration: none;
                &:hover {
                    color: rgb(85, 83, 83);
                }
            }
        }
    }  
    .header-customer-interactive {
        display: flex;
        justify-content: flex-start;
        padding: 0 200px;
        .header-search {
            width: 60%;
            input {
                width: 100%;
                height: 120%;
                border-radius: 5px;
                border: none;
            }
        }
        .header-customer-login {
            width: 15%;
            text-align: center;
            a {
                color: black;
                font-size: 18px;
                text-decoration: none;
            }
            i {
                font-size: 30px;
            }
        }
        .header-customer-post {
            a {
                height: 30px;
                text-align: center;
                text-transform: uppercase;
                background: #fc9807;
                color: #fff;
                font-size: 15px;
                font-stretch: normal;
                font-style: normal;
                font-weight: bold;
                line-height: 0.33;
                letter-spacing: normal;
                border-radius: 4px;
                padding: 9.5px 20px;
                text-decoration: none;
            }
        }

    } 
}

#header { 
    
    .header-filter {
        padding: 5px 200px;
    }
    .header-filter {
        display: flex;
        justify-content: flex-start;      
    }
    .header-filter-function {
        padding: 6px 10px;
        border: 1px solid rgb(184, 166, 166);
        border-radius: 3px;
        a {
            color: black;
            text-decoration: none;
            
        }
    }
    .header-breadcrumb {
        padding: 5px 190px;
        background: rgb(241, 236, 236);
    }
}

#content-page {
    padding: 20px 200px 20px 180px;
    display: flex;
    justify-content: flex-start;
    background: rgb(241, 236, 236);
    .sidebar-content {
        background-image: url("https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8dmVydGljYWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
        background-size: cover;
        width: 33%;
    }
    
}

.main-content {
    width: 65%;
    .content-suggest-product {
        background: white;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        .content-suggest-product-menu {
            width: 15%;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .content-mall-shop {
        background: white;
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        color: #fe9900;
        p { 
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }
        .shop-bigger {
            font-weight: bold;
            font-size: 20px;
        }
    }
    .content-list-item {
        .content-list-item-menu {
            a {
                width: 22%;
                color: black;
                text-decoration: none;
                padding: 5px 0;
            }
        }
        .content-list-chosen {
            font-weight: bold;
            &:after {
                bottom: 0;
                left: 0;
                position: absolute;
                width: 22%;
                content: "";
                height: 3px;
                background: #ffba00;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
    }
    .item-list {
        background: white;
        a {
            text-decoration: none;
            color: black;
            
        }
        .item-list-detail {
            padding: 10px 10px 0 10px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            &:hover {
                color: blue;
                box-shadow: 0 0 10px 5px grey;
            }
            .item-list-img {
                width: 100px;
                height: 100px;
                background-size: cover;
                background-image: url("https://image.thanhnien.vn/768/uploaded/nthanhluan/2020_10_21/3_ijnx.jpg") ;
            }
            .item-list-infor {
                padding-left: 10px;
                position: relative;
                .item-list-infor-shop {
                    position: absolute;
                    left: 10px;
                    bottom: -15px;
                    color: rgb(168, 157, 157);
                }
            }
        }

        
    }
}

#footer {
    background: rgb(241, 236, 236);
    padding: 20px 200px;
    color: rgb(165, 146, 146);
    .about-us {
        text-align: center;
    }
    .end-page {
        display: flex;
        justify-content: space-around;
    }
}